# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/
.hypothesis/
*.cover
.cache
nosetests.xml
test-results/

# Linting & Type checking
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
bandit-report.json

# # Jupyter Notebook
# .ipynb_checkpoints/
# *.ipynb

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
model/*
data/*
Documents/*
notebooks